{% extends "base.html" %}
{% load staticfiles %}


{% block head %}

{% endblock head %}


{% block content %}

<h1 class="header">Cookies</h1>
<a href="{% url "core:router" %}">&#8592; Go back</a>

<h2>Report form</h2>
<form id="set-data" method="POST">
    {% csrf_token %}
    <label>1. Very confidential data: </label>
    <p><input type="text" name="text"></p>
    <label>2. Are you pope?</label>
    <input type="checkbox" name="check">
    <p><input type="submit" value="Submit" id="submit" onClick="notify()"></p>
</form>

{% endblock content %}


{% block scripts %}
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous">
</script>
<script src="{% static "js/forge.all.min.js" %}"></script>
<script>
function notify() {
    alert("Your data will be securely saved");
}
</script>

{% endblock scripts %}
