{% extends "base.html" %}
{% load staticfiles %}


{% block head %}

{% endblock head %}


{% block content %}

<h1 class="header">Totally secure search box</h1>
<a href="{% url "core:router" %}">&#8592; Go back</a>

<i>
    <p>Try this:</p>
    <p>
        Start: 2017-03-20<br>
        End: 2017-03-31' OR 1='1<br>
    </p>
</i>

<form method="get" action="">
    <input type="date" name="start_date" placeholder="start date" />
    <input type="date" name="end_date" placeholder="end date" />
    <input type="submit" value="Search date range" />
</form>

{% for event in events %}
<article>
    <h2>{{ event.title }}</h2>
    <p>{{ event.description }}</p>
    <p>Private event.</p>
    <p>Host: <b>{{ event.user }}</b></p>
    <p>
       Starting date: 
        <time datetime="{{ event.start_date }}">{{ event.date }}</time>
    </p>
</article>
{% endfor %}

{% endblock content %}


{% block scripts %}
{% endblock scripts %}
