{% extends "base.html" %}
{% load staticfiles %}


{% block head %}

{% endblock head %}


{% block content %}

<h1 class="header">Totally safe comments to your blog</h1>
<a href="{% url "core:router" %}">&#8592; Go back</a><br>
<a href="{% url "storedxss:comments-create" %}">Create a new comment</a>

<i>
<p>Try this:</p>
<p>&lt;script&gt;alert('Watch out!')&lt;/script&gt;</p>

</i>
{% autoescape off %}
{% for comment in comments %}
    <article>
        <h2>{{ comment.title }}</h2>
        <p>{{comment.text }}</p>
        <hr>
    </article>
{% endfor %}
{% endautoescape %}

{% endblock content %}


{% block scripts %}

{% endblock scripts %}
