{% extends "base.html" %}
{% load staticfiles %}


{% block head %}
    <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
{% endblock head %}


{% block content %}

<h1 class="header">CSP Web application</h1>
<ul class="links">
    <li><a href="{% url "core:router" %}">&#8592; Go back</a></li>
    <li><a href="{% url "csp:api:api-root" %}">CSP reporting API</a></li>
</ul>


{% endblock content %}


{% block scripts %}

<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

<script>alert('Malicious inline script');</script>

<script>alert('Whitelisted inline script');</script>

{% endblock scripts %}
