{% extends "base.html" %}
{% load staticfiles %}


{% block head %}

{% endblock head %}


{% block content %}

<h1 class="header">Cookies</h1>
<a href="{% url "core:router" %}">&#8592; Go back</a>

<form id="set-data">
    <p><input type="text" name="text"></p>
    <p><input type="checkbox" name="check"></p>
    <p><input type="button" value="Submit" id="submit" onclick="createCookies()"></p>
</form>

{% endblock content %}


{% block scripts %}
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous">
</script>

<script>

function setCookie(name, value) {
    const today = new Date();
    const expiry = new Date(today.getTime() + 30 * 24 * 3600 * 1000); // plus 30 days
    document.cookie=name + "=" + escape(value) + "; path=/; expires=" + expiry.toGMTString();
}

function createCookies() {
    setCookie('confidential-info', $('#set-data')[0].text.value);
    setCookie('is_pope', $('#set-data')[0].text.value);
}
</script>

{% endblock scripts %}
